.input {
  margin: auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input textarea {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}
.input select {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}
.input input:focus {
  outline: none;
  border-color: black;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #0a1627;
  color: white;
  padding: 0.75rem 3rem;
}

.actions {
  text-align: center;
}

.button:disabled,
.button:focus:disabled,
.button:hover:disabled,
.button:active:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.input.invalid input {
  border-color: red;
  background-color: #ffcdd2;
}

.input.invalid select {
  border-color: red;
  background-color: #ffcdd2;
}

.input.invalid textarea {
  border-color: red;
  background-color: #ffcdd2;
}
